{% extends "base.html" %}
{% block title %}Календар{% endblock %}
{% block content %}
<div id="app" class="min-h-[60vh]"></div>

<!-- React + Babel UMD -->
<script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<!-- Calendar app (force fresh) -->
<script type="text/babel" data-presets="env,react,typescript"
        src="{{ url_for('static', filename='js/calendar_app_fix12m3.jsx', v='fix12m3') }}"></script>

{% endblock %}
